[2017-05-06 13:32] dstudzinski opened #1 "ReferenceError: regeneratorRuntime is not defined"
Hi,
I'm trying to use your package with create-react-app but I get ReferenceError.

[code]
Do you know what the problem is and how to solve it?

EDIT: I've solved it by adding `import 'babel-polyfill'` in `index.js`. Not sure why it's needed. I thought generators are supported in create-react-app since version 0.2

[2017-05-06 14:29] afitiskin commented on #1
You have to add babel-polyfill to your app to make it works

[2017-05-09 01:01] aardito2 commented on #1
Why is this closed?

The published module should work on its own without external dependencies - you've published the transpiled code without including the dependencies needed for it to run.

I have my project set up so that I don't need to use babel-polyfill for generators to work, but it fails on this module because I am not running node_modules through babel (which shouldn't ever be necessary).

[2017-05-09 07:08] afitiskin commented on #1
Ok guys, I reopened the issue, and will add `regenerator-runtime` as a dependency for the module today, so transpiled version will work well.
About es copy I will find solution a bit later (If you have time - PR is welcome)

[2017-05-09 10:06] afitiskin commented on #1
Published version `1.1.1` to npm with 2 entry points:
1. `main`: transpiled version (with babel-runtime as a peer dependency)
2. `jsnext:main`: es2015 version

[2017-05-13 10:38] mbektimirov opened #2 "Call trigger directly from routine"
As usage with `redux-form` is more rare than normal action triggering, why don't just extract promise to its own place and use routine to call `TRIGGER` action directly? This is a common approach to call actions in Redux and it will not drive to disambiguation with each action call.
[code]

[2017-05-13 16:55] spawner999 opened #3 "[...effects] has been deprecated in favor of all(...effects])"
Should update code in routinesWatcherSaga.js to reflect changes introduced in saga's  [0.15.0 release](https://github.com/redux-saga/redux-saga/releases/tag/v0.15.0).

Currently throws this warning:
<img width="624" alt="screen shot 2017-05-13 at 6 53 03 pm" src="https://cloud.githubusercontent.com/assets/14125641/26027388/71917d42-380d-11e7-9945-93c4971561be.png">

[2017-05-19 11:29] afitiskin commented on #3
Thank you for report, will fix this warning in next version

[2017-05-19 11:30] afitiskin commented on #2
Good idea! Can you please make a pull request?

[2017-05-24 18:56] wellingtonamaralleitao commented on #1
Still not working...

[2017-06-01 16:14] ambrons commented on #1
@wellingtonamaralleitao this type of error is typically solved by including `babel-polyfill` in your array of entries above your app entry.  Or at least anytime I've seen it that's how I've solved it.

Of course I'm making the assumption that you're using webpack.

https://babeljs.io/docs/plugins/transform-regenerator/

[2017-06-01 18:57] wellyal commented on #1
We dicided to use another pattern to handle our sagas. Thanks though

[2017-06-06 21:09] afitiskin commented on #1
@wellyal @svagi are you using common js version or es version? `regenerator-runtime` polyfill is included only in common js version and I'm not sure about adding it to es version... Any ideas?

[2017-06-07 02:12] theKashey opened #4 "No payload provided for resolve"
Just wondering why?
[code]

[2017-06-07 12:55] agriffis commented on #1
@afitiskin I just started using redux-saga-routines (an hour ago) with create-react-app and I'm hitting this problem. I've tried `yarn add babel-polyfill` and then `import 'babel-polyfill'` at the top of `index.js` but still hitting the same problem. If you have suggestions then I'd be happy to try them.

[2017-06-07 14:13] agriffis commented on #1
@afitiskin This seems to fix it for me:

[code]

When the `"module"` field is present, then `import` uses it in favor over `"main"`

This seems related and it's where I got the idea, but I don't claim to fully understand the ramifications of including or excluding the `"module"` field: https://github.com/infernojs/inferno/issues/928

[2017-06-07 14:18] agriffis commented on #1
@afitiskin also this seems relevant: https://github.com/webpack/webpack/issues/1979

[2017-06-07 14:20] aardito2 commented on #1
Adding `transform-runtime` to the `es` plugins in `.babelrc` should be the fix, since the `es` build is still transpiling generators to use it.

[2017-06-07 15:09] afitiskin commented on #1
@aardito2 @agriffis included `babel-runtime` transform to ES version, updated package to `1.1.2`, please check if it works now.

[2017-06-07 15:15] afitiskin commented on #4
Promises has been designed to use with `redux-form` and there is a strange behaviour of `redux-form` async validation: https://github.com/erikras/redux-form/issues/2056. So I decided to resolve promise without any payload to be sure it will be treated correctly

[2017-06-07 20:43] agriffis commented on #1
@afitiskin working here, thank you!

[2017-06-07 20:49] #1 closed

[2017-06-07 22:28] theKashey commented on #4
As long this is problem of redux form, and yours project is not just redux-form related thing (it is just awesome by its own) - it is not a good idea to break something inside it to fit others project API details.
There is no difference how one will fulfill redux-form promise - via standard promise or via saga. It is up to user to fulfill it `properly`. Not to you.
Be more transparent. IMHO.

[2017-06-09 09:54] afitiskin commented on #4
@theKashey I see no reason to use promises without `redux-form` (they will be added just to support form validation and submit). Could you please provide any example where you use promises and success payload?

[2017-06-12 08:46] theKashey commented on #4
Your library called redux-saga-routines, not redux-form-saga-routines.
In mine case I just want to have a promise from an action, and next await for it.
For example - on form submit I want to dispatch an action, which will trigger saga to perform network request and await for completion. Or display modal dialog, and yet again await for completion.
Your library is very useful if one want to observe

[2017-06-12 08:47] afitiskin commented on #4
@theKashey I'd like to see code example :)

[2017-06-12 08:52] theKashey commented on #4
[code]

[2017-06-12 09:16] afitiskin commented on #4
You splitted your logic into 2 parts: one part – in saga, another one – in component. This is a wrong way bacause all your logic should be placed in your saga. How you can improve your code:

1. In your component you only render your state and only trigger actions.
2. In your saga you handle triggered actions and do all of your side effects.

So, in component you only trigger your acation:
[code]

[2017-06-12 13:07] theKashey commented on #4
Dont be so idealistic – not everything must be solved via global store, events and sagas.
I can agree that it is good to have _all_ logic inside sagas, but it is not very usable.
Just imagine - some deep component opens modal dialog, and awaits result from it. What is better - to add 100500 different stores to keep temporary variable, and twice more to control visible form of components.. or just

[2017-06-12 13:37] afitiskin commented on #4
Ok, it's your chose how to do your job.
My opinion how to solve the issue:
1. Due to #2 change default action to trigger (instead of promise)
2. Due to #2 add new routine method `.form()` that will work as default action at the moment (fully compatible with `redux-form`)
3. Add new routine method `promise()` that will work similar to `.form` but with providing payload for  resolve.

Later, when `r

[2017-06-12 22:21] theKashey commented on #4
Like a
[code]
Yes, it will work. But whole routine is created by PROMISE_ACTION and how #2 will work by itself - I cant imagine.
And for me it is better to add new action creator to submit a redux form, and, if one provided payload to that action,- throw a warning to console with issue link.
The best way to fix redux-form issue - do not provide payload by yourself, not to drop it.

[2017-06-16 10:14] afitiskin commented on #4
@theKashey please take a look at `next` branch.  I fixed all 3 points listed above:
1. You can change default action by passing it's name as 3rd parameter to `createRoutine`:
[code]
2. `.form()` method has been added, promise resolved without any payload (for compatibility with `redux-form`)
3. `.promise()` method has been added, promise resolved with payload, as you ask in this issue.

[2017-06-27 06:29] theKashey commented on #4
Good job comrade 👍

[2017-08-23 21:47] rhenderson07 opened #5 "Direct call to failure() function throws an error"
### Documentation Example
The documentation shows the following example code (comments omitted) for requesting data from a server:

	function* fetchDataFromServer() {
	  try {
		yield put(fetchData.request());
		const response = yield call(apiClient.request, '/some_url');
		yield put(fetchData.success(response.data));
	  } catch (error) {
		yield put(fetchData.failure(response.error));
	  }
	}

No

[2017-08-24 12:30] afitiskin commented on #5
@rhenderson07 Could you provide a description of "new, uncaught error"?

[2017-08-24 13:59] rhenderson07 commented on #5
Disregard.

While trying to reproduce the error, I found that my component was not triggering the routine correctly.

My component was calling `this.props.fetchData()` rather than `this.props.fetchData.trigger()`.

The incorrect call appears to work correctly when the routine is successful, but results in an uncaught error when the `failure` function is called.

The error produced reads simply "Un

[2017-08-24 13:59] #5 closed

[2017-08-25 10:58] alexhayes opened #6 "Would it be useful for trigger to return promise"
Perhaps I'm not understanding something but I'd really like to do something like the following;

[code]

As in, I'd really like to get the promise back when I call `trigger` so I can do something if it's successful (or fails).

Is this possible but I'm just trying to do things the wrong way?

[2017-08-27 14:29] afitiskin commented on #6
Trigger is an action creator, so it is only return an action, that have to be dispatched. I see only one reason why you need promises with `redux` – it is a promises for validation in `redux-form`. There is an example for this case in README

[2017-08-28 12:14] alexhayes commented on #6
Apart from the fact that I also find this extremely useful outside of redux-form I actually want to do this;

1. User enters some data (in redux-form).
2. User presses submit.
3. Post sent to server which returns `201`.
4. Redirect the user to the newly created thing.

Ideally I'd like to do the redirect in my view/component once the `.success()` is called but I'm not exactly sure how to do it her

[2017-08-28 12:22] afitiskin commented on #6
Preffered way to this is to use`push` action creator from `react-router-redux` in your saga:
[code]

[2017-08-28 13:35] afitiskin commented on #6
Also, routine itself returns a promise, so for your example use `this.props.myRoutine().then()` instead of `this.props.myRoutine.trigger()`.

[2017-08-28 22:21] alexhayes commented on #6
Am I correct in thinking however that `this.props.myRoutine()` does not actually call `trigger` on the routine? It appears to just dispatch the action type `@@redux-saga-routines/PROMISE`.

[2017-08-29 00:24] afitiskin commented on #6
You forgot to run `routinesWatcherSaga` to make this work. See preparation section in README

[2017-08-31 00:00] alexhayes commented on #6
Thanks @afitiskin!

[2017-08-31 00:00] #6 closed

[2017-09-11 20:10] wasinsandiego opened #7 "Question: Is using bindRoutineCreators required?"
Just curious, will `bindRoutineCreators` give us something more than if we just let `react-redux` wrap our action creators in a dispatcher for us.

In other words, what are the caveats of doing this?
[code]

Instead of this?
[code]

[2017-09-12 10:19] afitiskin commented on #7
Routine is a bit different of simple action creators, so it is not working with `bindActionCreators` (that is applied by `react-redux` in case of object value for `mapDispatchToProps`).  I will try to describe the difference between them.

Due to compatibility with `redux-form` routine has specific signature:
[code]

Simple action creator has another signature:
[code]

What `bindActionCreator` act

[2017-09-12 17:53] wasinsandiego commented on #7
Great utility! Thanks for the prompt reply; It makes total sense.

I ended up doing this since I have been letting `connect` do the dispatch wrapping on it's own for me. Seems to be working.
[code]

When we use your routines for `redux-form` we'll use the `bindRoutineCreators` utility. I think it will help distinguish those routines that are used for `redux-form` and those that aren't.

BTW, I rea

[2017-09-12 19:42] afitiskin commented on #7
You are doing it right! Since I used to use `redux-saga-routines` in many various cases I found that it is really good to separate form routines and make plain routine as simple as possible. So I will spend some time to do that. Will let you know about updates.

[2017-09-17 08:30] onrige opened #8 "Package improvements"
Hey. First thanks for your package, it's really helpful :)

But I write to offer some package improvements if you're interested in (I also can help with pull requests)

First, what do you think about hard dependence  on redux-saga? I think it would be cool if it was not (like an option for example). But next if some one will need these features like saga or form support - he can just enable it.

A

[2017-09-22 22:34] reidpd commented on #3
Is there any movement on this issue?

[2017-09-23 02:04] reidpd commented on #3
#9

[2017-09-27 11:45] #7 closed

[2017-10-03 08:02] afitiskin commented on #3
Closed via #9

[2017-10-03 08:02] #3 closed

[2017-10-03 12:41] afitiskin commented on #2
In version 2 routine by itself is a trigger action creator:
[code]

[2017-10-03 12:41] #2 closed

[2017-10-03 13:04] #4 closed

[2017-10-03 13:24] afitiskin commented on #8
@onrige

[2017-10-12 08:44] m-sadegh-sh opened #14 "Calling routine doesn't dispatch any action"
I've upgraded to v2 and all of my actions were broken.

Changes I've made into my code is:

1. Use routinePromiseWatcherSaga instead of routinesWatcherSaga to add to saga middleware.
2. Use bindRoutineToReduxForm and pass created routine to it to create redux-form compatible handler.
3. Update mapDispatchToProps implementation to remove bindRoutineCreators and return routines directly as below:

[

[2017-10-12 08:45] afitiskin commented on #14
Hi, may I see the code, that does not work: component, and saga?

[2017-10-12 08:49] afitiskin commented on #14
If you use `bindRoutineToReduxForm` you do not need to pass bound routine thru `mapDispatchToProps`.

[2017-10-12 08:57] m-sadegh-sh commented on #14
Ok here is it.

`//Routine and triggerer
import { put, call } from 'redux-saga/effects';
import { createRoutine, bindRoutineToReduxForm } from 'redux-saga-routines';

export const chooseLetterPreparingFindEmbeddedLetterIdRoutine = createRoutine('CHOOSE_LETTER_PREPARING_FIND_EMBEDDED_LETTER_ID');

export const chooseLetterPreparingFindEmbeddedLetterIdHandler = bindRoutineToReduxForm(chooseLetterPre

[2017-10-12 09:02] afitiskin commented on #14
Problem is here:
[code]

Try to change it with following:
[code]

[2017-10-12 10:16] m-sadegh-sh commented on #14
Thank you @afitiskin

[2017-10-14 12:04] m-sadegh-sh commented on #14
@afitiskin If i need to this.props.dispatch to dispatch an action that is not in the form of routines, what I have to do?

[code]

[2017-10-14 13:44] afitiskin commented on #14
Use `bindActionCreators` from `redux` package as you do with simple action creators, or just manually dispatch result of routine call: `dispatch(myRoutine())`

[2017-10-15 04:47] m-sadegh-sh commented on #14
@afitiskin As you told me, I have to write my mapDispatchToProps like below.

[code]

Above result don't provide dispatch to this.props. If I use below, nothing will be dispatched.

[code]

I've confused a little bit. Using [bindActionCreators](http://redux.js.org/docs/api/bindActionCreators.html) also requires this.props.dispatch.

[2017-10-15 07:11] afitiskin commented on #14
As I see you do not know how `connect` works. Please read carefully docs of `react-redux`.
You have 2 options:
1. Just not provide `mapDispatchToProps`. In this case your component will get `dispatch` as a prop. To dispatch routine action you need to do `this.props.dispatch(myRoutine())`
2. Use `bindActionCreators` from `redux`:
[code]

If you pass an object to `mapDispatchToProps` as I recommend

[2017-10-15 10:00] m-sadegh-sh opened #15 "Use routine as a promise"
Hi

I v1 calling routine directly returns a Promise and we used routine.then. But in this version routine itself is trigger action creator. [Here](https://github.com/afitiskin/redux-saga-routines/issues/6#issuecomment-325354910) you told something that is not correct at the moment.

In my case i should return a promise (to a third-party component). Thanks in advance for your suggestions dear @afit

[2017-10-15 10:46] afitiskin commented on #15
See [redux-saga, redux-form, redux-saga-routines combo](https://github.com/afitiskin/redux-saga-routines#redux-saga-redux-form-redux-saga-routines-combo) in README.

[code]

`submitFormHandler` is now the function that return a promise. It has following signature:
[code]

So, if you need to return promise to third-party component, do it like this:
[code]

[2017-10-16 11:35] #8 closed

[2017-10-16 11:35] afitiskin commented on #8
Reopen issue when you have some ideas

[2017-10-17 12:16] afitiskin opened #16 "Add changelog"
It will be great to have a library changelog

[2017-10-18 10:52] plitex opened #17 "Wrong NPM latest tag?"
Hi,

Tag latest is pointing to 1.1.5, is it correct? Can we consider 2.0 as production ready? There is no info about state of 2.0 in README. Looking at the docs I understand 1.x is the OLD release and 2.0 should be used.

[code]

[2017-10-18 10:56] afitiskin commented on #17
Yep, latest release was fix for v1... Should update latest tag for npm

[2017-10-18 12:14] afitiskin commented on #17
Updated latest tag on NPM, so now `2.1.0` is installed by default. Also added `legacy` tag for latest v1 build (to use like `yarn add redux-saga-routines@legacy`)

[2017-10-18 12:14] #17 closed

[2017-10-20 10:38] afitiskin commented on #15
With last update I added `promisify` helper and `bindPromiseCreators` util to wrap routines in function that returns promise, bind that function to store's dispatch.

[2017-10-25 09:33] #15 closed

[2017-10-25 09:34] #14 closed

[2017-10-30 12:12] tonoslav opened #19 "Typescript: Cannot find name 'Generator'."
I keep getting this error from typescript

[code]

**Typescript:** 2.5.3
**redux-saga-routines:** 2.2.1

[2017-10-30 13:36] afitiskin commented on #19
@LKay your help needed

[2017-10-30 13:48] LKay commented on #19
@tonoslav Could you share your `tsconfig.json`'s compile flags? Make sure you have at least: `es2015.iterable` and `es2015.generator` in your `lib` and have `@types/node` installed.

[2017-10-30 13:55] LKay commented on #16
I'm using this format for my projects: http://keepachangelog.com/en/1.0.0/

[2017-10-30 14:37] tonoslav commented on #19
Fixed, thank you

[code]

[2017-10-30 14:37] #19 closed

[2017-10-31 22:07] onrige opened #20 "Slash instead of classic underline"
Hey. Thanks for great and very helpful tool first. I have a question. In previous version there was an underline between routine prefix and routine type. Why did you decide to change this with slash? I think it was more redux classic before.
https://github.com/afitiskin/redux-saga-routines/blob/master/src/createRoutine.js#L5

[2017-11-01 12:39] afitiskin commented on #20
@onrige I prefer use slash instead of underscore cause slash works like a namespace separator while underscore is just a word separator. Also it is more difficult get duplicates of actions on new name notation:
[code]

[2017-11-01 18:11] onrige commented on #20
I don't understand your example, sorry. If we change underscore with slash in it - nothing will change. Or maybe you talk about name collision with redux-actions library in this case? If so - yes, it will be, but...what's next? :)

[2017-11-02 16:52] afitiskin commented on #20
For me `/` – is a good namespace separator. Basically with every routine you get an action type namespace, contains 5 action types:
[code]
I wish last example will help you understand why I decided to change `_` with `/` :)

[2017-11-02 17:46] onrige commented on #20
Yes, it has sense, but why don't just separate such logic in this case? Any new feature must have his own actions/reducer/etc I think (and it sounds like this from redux creator, Dan Abramov). So you wont need to create such actions like `App/MyModule/SEND_PAYMENT/TRANSACTION_VALIDATION` o_O

[2017-11-03 17:44] mshick opened #21 "bindPromiseCreators is not exported"
Was attempting to use the code examples and noticed that `bindPromiseCreators` is not being exported from the module. I've temporarily imported `src/bindPromiseCreators.js` and it works as expected.

[2017-11-06 10:19] afitiskin commented on #21
Thank you! I forgot to export it... Now it is fixed. Bumped version to `2.2.2`

[2017-11-08 10:15] afitiskin commented on #21
@mshick may I close the issue?

[2017-11-08 15:43] mshick commented on #21
@afitiskin Updated yesterday — looks good to me! Thanks.

[2017-11-08 15:43] #21 closed

[2017-11-28 18:07] nathanmarks opened #23 "Remove typings peer dependencies"
Is it possible to remove the peer deps for the 3rd party typings?

It's annoying seeing the NPM warning every time on a none TS project. No other library with 3rd party typing dependencies does this.

[2017-12-01 08:42] linonetwo opened #24 "Adding meta field: where this action come from"
For a better debugging experience, I hope there is a field in action's meta field, telling me where this action comes from.

Likes
[code]
So I can easily know this action comes from ```getCompanyIDs()```, not other saga likes ```starUpJobsSaga()``` or so.

[2017-12-01 09:40] afitiskin commented on #24
Since `redux-saga-routines` was build on top of `redux-actions` you can use third parameter (`metaCreator`) to achieve this:
[code]

[2017-12-02 15:09] linonetwo commented on #24
Thanks, with that, I think I can mark some critical action by hand.

(I searched about how I could get function name inside a generator function, only to find some old stuff)

[2017-12-02 15:09] #24 closed

[2017-12-02 15:12] linonetwo commented on #24
Wait, what if I export created routines, I can't pass ```metaCreator``` on the fly? Can I do something like currying ```createRoutine``` ?

[2017-12-04 09:27] afitiskin commented on #24
I'm not sure what you are going to achieve, so I can't recommend something

[2017-12-04 10:42] linonetwo commented on #24
Like I have an ```changeCompanyCodeForDiffAction```
that will be ```yield put``` by  ```function* handleURIChange()```  and  ```function* gotoNextCompanyCode()``` and several other sagas.

I think I should pass meta info when I put it, instead of creating several routines for every saga.

[2017-12-21 19:53] mshick commented on #24
@afitiskin agreed — I think it would be helpful to support passing metadata when the routine is triggered.

An example pattern might be passing meta as a second param:

[code]

A simple case, maybe I want to keep my payloads clean, and pass necessary info for acting on the payload beside it:

[code]

Or, more complicated, maybe I want to pass special data for an analytics middleware alongside my p

[2017-12-23 01:15] ckeeney opened #26 "Multiple concurrent promises and Promise.all()"
When dispatching multiple concurrent actions from the same `PromiseCreator` and waiting for them all to resolve with  `Promise.all`, `Promise.all` resolves whenever any one of the promises from a promise creator resolves and will resolve all of the promises created by that creator with the value of whichever promise resolved first.

I assume this is something I have wired up incorrectly, so I have

[2018-01-04 20:09] ckeeney opened #27 "Resolve Promisified Routine after Fulfill"
Suppose I want to filter actions to avoid fetching data that I already have in the store.  I dispatch a `fulfill` but that doesn't resolve the promise, since I never fired `success` or `failure` action.  I have reducers listening for `success` and `failure` for an action, so I can't really fire those actions unless I actually made a request to the server.

It seems that dispatching a `fulfill` sho

[2018-01-04 20:12] ckeeney commented on #27
If this change should be made, is it as simple as adding a fulfill watcher to the race [here](https://github.com/afitiskin/redux-saga-routines/blob/99722fad0b07cd2467c92899fe6de07a1142cde1/src/routinePromiseWatcherSaga.js#L21-L22)?

[2018-01-04 21:43] ckeeney commented on #27
I copied and pasted the `routinePromiseWatcherSaga` into my saga and made the above change.  It seems to work well.
I'm happy to open a pull request for this change.  However, I'm not sure whether a `fulfill` should call the `resolve` or `reject` function.  I'm not sure either choice is intuitive.

[2018-01-09 17:40] afitiskin commented on #27
It's very uncommon case to use both: promise and filtering. Could you please give more information about your task?
I'm not going to change behaviour of fulfill – it should NOT do something with promise, promise can  be resolved or rejected only using resolve and reject actions (because other behaviour is very specific and is not intuitive).
And, of cource, filtering in your case can be done in re

[2018-01-09 18:22] ckeeney commented on #27
Thanks so much for replying.

I don't mind you not changing the behavior of fulfill.  Having one extra saga watcher in my repo is not a big deal.

However, I do want to make sure I'm not doing something wrong.

I am filtering actions to avoid fetching data I already have in redux.  For example, if someone browses to `/article/slug-one` and I already have the `slug-one` data in redux, I don't need

[2018-01-10 00:37] ancestorak opened #28 "promisifyRoutine should create unique ids for dispatched actions"
Let me start by saying I really appreciate your work on this library. It helped us reduce boilerplate, enforce clear lifecycle for async actions, and made it easy to integrate with redux-form and other libraries that deal with promises.

The problem with the `promisifyRoutine`/`routinePromiseWatcherSaga` combo is they fail to handle the case when a routine is dispatched again before the previous o

[2018-01-10 14:30] afitiskin commented on #28
@ancestorak let's start with some example code that shows the problem. I think PR with failing test case is a good starting point. I will check it and we will discuss the variants to solve the problem. Thank you!

PS. I think the problem is related to #26

[2018-01-10 14:34] afitiskin commented on #27
Okay, I got the idea. You can do following in your saga:

[code]

[2018-01-10 14:36] afitiskin commented on #26
As I see, your problem is related to #28

[2018-01-10 14:37] afitiskin commented on #23
Could you please submit a PR?

[2018-01-10 18:39] ckeeney commented on #28
I agree, this looks identical to the behavior I discussed in #26.

[2018-01-10 18:44] ckeeney commented on #27
I suppose that works, though it does unnecessarily run the reducers for processing `article.content`.

I think I am just going to close this issue.  There is some discussion here for anyone that comes searching for it, and if you don't think we should resolve the promise on fulfill dispatch, there is not really anything to do in this issue.

Like I said, having one extra saga watcher in my code is

[2018-01-10 18:44] #27 closed

[2018-01-19 18:00] ckeeney commented on #26
Closing as duplicate of #28.

[2018-01-19 18:00] #26 closed

[2018-01-22 12:28] #23 closed

[2018-01-23 18:23] maorshabo opened #31 "Please publish the repo as "pre-compiled""
Hi,
I'm using create-react-app to create my app, and then I tried to build the app I get this error:
[code]
Thanks!

[2018-01-23 19:20] #31 closed

[2018-01-24 09:31] afitiskin commented on #31
@maorshabo Why did you close the issue?

[2018-01-24 09:40] maorshabo commented on #31
Because it was my bad, the package is compiled to es. And I imported files directly from /src directory which cause the error I've mentioned above

[2018-01-24 09:51] afitiskin commented on #31
Ok :)

[2018-01-30 22:12] danicr83 opened #32 "V2 doesn't trigger actions"
Hello afitiskin!
Maybe I'm doing something wrong but following instructions you posted in README, actions doesn't seems to be triggered. Is it necessary some additional configuration while creating the store with middlewares? If so could you please integrate the README with that? Thank you sir.

[2018-01-31 12:22] afitiskin commented on #32
@danicr83 may you please provide some code of the component that trigger routine?

[2018-01-31 13:09] McRipper commented on #32
I'm having the same issue, the missing example is when we have standard actions to dispatch:

`function mapDispatchToProps(dispatch) {
  return {
    _changeRoute: (url) => dispatch(push(url)),
    purchase, // <- this is the routine that is not triggered
  }
}`

[2018-01-31 13:20] afitiskin commented on #32
As you can see in the README my `mapDispatchToProps` is an Object while your `mapDispatchToProps` is a function. So inside `mapDispatchToProps` function you have to bind routine to dispatch manually or using `bindActionCreators`.

[2018-02-02 10:56] afitiskin commented on #32
@danicr83 @McRipper did my comment help you?

[2018-02-06 10:49] #32 closed

[2018-02-20 20:51] victordidenko commented on #20
I learned, that `handleActions` could have recursive structure too, and by default it combines keys with `/`, so this makes this library perfectly compatible with it.
It could be perfectly compatible, **BUT** `routine.toString()` returns PREFIX/TRIGGER, not just PREFIX.

I created PR #33 to fix that.

@afitiskin could you assist here?

[2018-02-22 13:21] victordidenko opened #35 "createRoutines?"
I think it would be nice to have `createRoutines` method, like `createActions` in 'redux-actions', to create routines in batch, and not one by one

[2018-02-23 10:53] afitiskin commented on #35
@victordidenko good idea! PR are welcome :)

[2018-03-04 05:19] codelego opened #36 "How to integrate onSubmit, please ?"
How to add onSubmit ?

[code]

[2018-03-04 09:43] codelego opened #37 "onSubmitActions supports"
Are there any way to support similar method

[code]

[2018-03-05 10:54] afitiskin commented on #36
Where is your form? You have to wrap your component into `<form>`. See README example: https://github.com/afitiskin/redux-saga-routines#redux-saga-redux-form-redux-saga-routines-combo

Another option is to pass `onSubmit` attribute to `reduxForm()` (https://redux-form.com/7.3.0/docs/api/reduxform.md/#-code-onsubmit-function-code-optional-) like this:
[code]

[2018-03-05 10:57] afitiskin commented on #37
Please read the README carefully. [This section](https://github.com/afitiskin/redux-saga-routines#redux-saga-redux-form-redux-saga-routines-combo) has explanation how this library works with `redux-form`.

First of all, create routine and make submit handler for it:
[code]

Then, pass it to the `redux-form` as submit handler:
[code]

So, submitting the form will trigger `SUBMIT_MY_FORM_TRIGGER` ac

[2018-03-12 10:10] afitiskin commented on #36
@codelego may I close the issue?

[2018-03-12 10:10] afitiskin commented on #37
@codelego may I close the issue?

[2018-03-13 17:13] victordidenko commented on #35
Made an PR #38, first approach (don't like very much), to hear your opinion

[2018-03-14 23:06] CWThomson opened #39 "onSubmitSuccess in redux forms not passed results"
It appears that the onSubmitSuccess method when using redux-forms with this module is not being called correctly.

[code]

I would expect the `result` argument of the method signature above to contain the contents of the success action payload - however it always returns `undefined`.

Looking into the source code, it appears there is a specific flag set in the `bindRoutineToReduxForm` function - `

[2018-03-15 10:20] afitiskin commented on #39
See https://github.com/afitiskin/redux-saga-routines/pull/34 :)

[2018-03-15 10:24] #37 closed

[2018-03-15 10:24] #36 closed

[2018-04-24 20:28] alexey-pelykh opened #40 "Different payload format via direct dispatch vs via form"
https://github.com/afitiskin/redux-saga-routines/blob/1cf1594b4dd24602bbd40b2586ea3af9ff906625/src/bindRoutineToReduxForm.js#L6

This adds some extra complexity that 'callee' input format differs depending on a 'caller'. What are your thoughts on that?

[2018-04-24 20:40] alexey-pelykh commented on #40
This issue has bigger impact in Typescript, where
[code]
gives a hint about format of the payload, yet writing
[code]
seems impossible or at least incorrect, since there's even no definition of the `values` + `props` payload

[2018-04-25 19:26] jkchuynh829 opened #42 "Calling submit handlers do not dispatch action"
Here's my code:

[code]

After submitting, I see no `redux-saga-routines` actions dispatched. Thoughts?

edit:

Forgoing the `bindRoutineToReduxForm` helper method and manually mapping dispatch actions worked. Is that a bug? See below:
[code]

[2018-04-25 21:29] afitiskin commented on #42
From README:

[code]

You did it?

[2018-04-25 22:09] jkchuynh829 commented on #42
This now works, thank you!  My implementation:
[code]

Thank you for the clarification!

[2018-04-25 23:10] jkchuynh829 commented on #42
Sorry, I have a related question about using promises in this combo (redux saga and form). When using the above method with `bindRoutineToReduxForm`, how can I make sure the promise returned from my bound handle submit function does not hang?

[2018-04-26 08:11] afitiskin commented on #42
You have to handle `TRIGGER` action of your routine in your saga and dispatch `SUCCESS`/`FAILURE` action to resolve or reject the promise. So, it is on your side.

[2018-04-27 01:36] jkchuynh829 commented on #42
Thank you again!

[2018-04-27 01:36] #42 closed

[2018-04-28 17:15] jmtoung opened #43 "Difference between TRIGGER and REQUEST?"
Hi, great library first of all. Really nice. However I have a potentially naive question. What's the difference between TRIGGER and REQUEST? After reading your examples, particularly `Example: fetching data from server`, it seems that the two action types are redundant based on the following observations:

1. There is no case in the reducer to deal with REQUEST.

[code]

2. In the saga, the trigge

[2018-04-30 09:32] afitiskin commented on #43
Sometimes it really useful to know if request to API sent, to collect some stat. For simple cases it looks redundant, by for consistency I prefer to trigger all routines actions.

[2018-05-03 18:48] deslee opened #44 "Module has no exported member 'promisifyRoutine'."
I believe the type definition is missing an export for promisifyRoutine:

Module '"node_modules/redux-saga-routines/src/index"' has no exported member 'promisifyRoutine'.

[2018-05-07 15:46] afitiskin commented on #40
Do not do magic, just dispatch `action.trigger` with same payload format as `bindRoutineToReduxForm` do :)

[2018-05-07 15:47] afitiskin commented on #40
There is no other way to pass all data that `redux-form` gives to us (they are all useful in some cases).

[2018-05-07 15:53] alexey-pelykh commented on #40
Also true :| messy mess :)

[2018-05-07 16:03] afitiskin commented on #40
For me it looks strange when you manually dispatch `trigger` for routine that bound to `redux-form`...  It looks like some hack, so, when you do "hack" you need to follow the rules (in the case – use special scheme for your action's payload)

[2018-05-07 16:26] alexey-pelykh commented on #40
Hm, that could be, but not my particular the case: a simple form to add an email to a list, payload needs `listId` ("hidden" field via `initialValues`), and `email` field. That thing is sent via `addEmail` routine that is callable not only via form, in case of "add from contact" story.

[2018-05-07 17:54] afitiskin commented on #40
I prefer to separate form and data handling. So, in my opinion, it’s better to have 2 sagas and 2 routines: first for form handling (validation, etc) and second for data handling: send data to API, etc.
First saga triggers second one in case if validation passed. Adding from contacts directly triggers second one via specific action.

[2018-05-07 17:57] afitiskin commented on #40
Handling two different scenarios using one routine and saga is messy mess :)

[2018-05-08 02:49] alexey-pelykh commented on #40
I would argue a little bit about that :), especially in case when the only difference in saga is `(payload.values || payload)`. Though I got your point! Anyhow, to avoid confusion in `bindRoutineToReduxForm` I'd adjust a definition over here https://github.com/afitiskin/redux-saga-routines/blob/master/src/index.d.ts#L91 to define `Routine<T>` as something more specific with well-defined payload ac

[2018-05-08 02:52] alexey-pelykh commented on #40
(if you're open to that, I'd add that into PR #41 )

[2018-05-08 11:13] afitiskin commented on #40
Do it, I will merge

[2018-05-09 08:19] alexey-pelykh commented on #40
I've updated the #41 so that now Payload has to explicitly have `values` & `props`

[2018-05-10 11:41] alexey-pelykh commented on #40
Closing as #41 was merged and published as `redux-saga-routines@2.2.4`

[2018-05-10 11:41] #40 closed

[2018-05-11 00:27] LKay opened #46 "Broken Typescript definitions"
The definitions that got merged yesterday completely changed the way actions are handled. I'm not against the changes, but this is a __BREAKING CHANGE__ and should be only introduced with major version of the library (if you follow semver).

[2018-05-11 01:04] LKay commented on #46
Related to #47 #48

[2018-05-11 03:27] alexey-pelykh commented on #46
It hasn't changed how they are handled at all, only changed the declaration's to be more specific

[2018-05-11 03:34] alexey-pelykh commented on #46
(Indeed, #41 is broken due to lost change, #45 is a hotfix for that)

Regarding the breaking change - the behavior itself wasn't changed, only the declarations, to match `@types/redux-actions@2.3.0`

[2018-05-11 09:33] afitiskin commented on #46
Since I'm not using TypeScript I can't verify PRs related to type definitions. So, if they broke something for somebody and there is no maintainer who can verify it I'm going to remove type definitions from the repo. If you want to maintain them in the repo, let's organise it. Other case: create separated repo with type definitions for `redux-saga-routines`.

[2018-05-11 09:36] afitiskin commented on #46
And I'm not agree with the point that "changing type definitions is the breaking change". It's not related to core of the library, so it can't broke anything that depends on the library

[2018-05-11 09:38] alexey-pelykh commented on #46
(noone asked, yet :) ) I'd support moving type definitions to `@types` repo, at least there we'll have to cover them with tests, so definitely there would be a benefit from it.

[2018-05-11 09:40] alexey-pelykh commented on #46
(and super-sorry for loosing that change, my bad)

[2018-05-11 10:38] afitiskin commented on #46
Does #45 fixes the problem?

[2018-05-11 10:44] afitiskin commented on #46
I've also deprecated version "2.2.4"

[2018-05-15 12:29] afitiskin commented on #46
@LKay is your problem still reproducing with v2.2.5?

[2018-05-15 12:42] afitiskin commented on #46
@LKay, @janstrohbeck, @alexey-pelykh I need your help to decide: should I keep type definitions in the repo or should I remove it?

Option 1: I keep type definitions in the repo. But we choose a maintainer who will keep it up to date and will take care about all issues and MRs related to them.

Option 2: I remove type definitions from the repo. You can create separated repo for them. There is http

[2018-05-15 12:48] alexey-pelykh commented on #46
Technically, that's the same option - the only difference where type definitions would be maintained. I'd vote for Option 2 - that way even if package definition maintainer won't answer, a `@types` maintainers will take care of that (like in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25286 case)

[2018-05-22 09:28] afitiskin commented on #46
So, in version 3.0.0 type definitions will be removed from the repo.

[2018-05-22 09:28] #46 closed

[2018-05-22 09:29] afitiskin commented on #44
In next version type definitions will be removed from the repo.

[2018-05-22 09:29] #44 closed

[2018-05-22 09:29] #43 closed

[2018-05-22 09:32] alexey-pelykh commented on #46
Please ping me when/if you'll need help in migration to `@types`

[2018-05-22 10:30] afitiskin commented on #46
@alexey-pelykh I have no plans related to `@types` since I'm not using typescript

[2018-07-27 16:21] stefanfrede opened #49 "Question regarding promisifyRoutine"
I'm wondering if this should work and I'm doing something wrong, or if it is simply not working this way:
[code]
I'm using this in a plain JS file without any framework and I get no response whatsoever. The only thing is a `@@redux-saga-routines/PROMISE` in the dev tools.

My `itemsRoutine` where the `itemsRoutinePromiseCreator` is based on works fine:
[code]

[2018-07-27 16:31] afitiskin commented on #49
Did you run `routinePromiseWatcherSaga`?  See first code block in [Wrap routine into promise](https://github.com/afitiskin/redux-saga-routines#wrap-routine-into-promise) section of Readme

[2018-07-27 16:59] stefanfrede commented on #49
Thanks a ton, `routinePromiseWatcherSaga` solved it, but now I have another question. Now I get `ITEMS/TRIGGER`, but I would like to receive `ITEMS/REQUEST`. Is this possible?

[2018-07-27 17:07] afitiskin commented on #49
Take `TRIGGER` In your saga and put `REQUEST` manually according to examples from readme

[2018-07-27 17:36] stefanfrede commented on #49
Will do. Thanks again.

[2018-07-27 17:36] #49 closed

[2018-08-01 02:18] theKashey opened #50 "TS support?"
Any reasons to drop it?
Any chances to have it back?

[2018-08-22 19:48] abhikp opened #51 "Why is payloadCreator shared across all actions?"
Is there a way to overload the payloadCreator for a specific action?

In my situation, TRIGGER, SUCCESS, and FAILURE expect different payloads and I'd like the payloadCreators to reflect that.

[2018-08-26 14:42] stefanfrede commented on #28
Hi!

I guess I ran into exactly this problem. I fire up a couple of routines and each takes some time to fulfil and because of that everything is getting resolved with the first fulfilment.

Is there a solution for that in the pipeline or some existing workaround?

Thanks!

[2018-08-29 16:13] stefanfrede commented on #28
I found a workaround for my case but just realised that if the first routine is failing that all successive routines are failing too.

Same goes for a failing routine after a successful one. It will get resolved with the success method.

[2018-08-29 16:15] stefanfrede commented on #28
@ancestorak You wrote that you have a solution. Is it difficult to implement? I have to admit that I have no clue why it is failing, but maybe with a push in the right direction, I can be of help.

[2018-08-29 20:47] stefanfrede commented on #28
Will try to setup something to show the problem.

[2018-09-10 18:18] stefanfrede commented on #28
Sorry, it took a bit longer than expected.

I hope I can explain it with the following piece of code:
[code]
This method is working as expected except for when I do something like this:
[code]
The first `getUser` call returns the correct user, but every following call thereafter is then resolved with the payload of the first call.

In the Redux store, I have all three users correctly, so it has to

[2018-09-10 18:35] afitiskin commented on #28
Ok, thank you! I'm on vacations right now, will take a closer look soon

[2018-09-19 13:06] afitiskin commented on #51
Yep, I experienced the same problem in my last project, so in next version I will add support for different payload creators for different action types. If you would like to help me with PR, you are welcome!

[2018-09-19 13:15] afitiskin commented on #50
IMO the best way is to have separated TS-specific package with all TS stuff and TS maintainer. TS developers may install 2 packages (code and types). JS developers will not be affected at all, and will not have dead files in their `node_modules`.

There is [a package with types for the library](https://www.npmjs.com/package/@types/redux-saga-routines), but it is deprecated at the moment> I think i

[2018-09-19 13:18] afitiskin commented on #39
Looks like `redux-form` maintainers finally fixed the bug, related to your issue. In next version I will disable this workaround.

[2018-09-20 14:00] afitiskin commented on #28
I spent some time on the task and found that routines (in it's current implementation) could not help you... The main problem is that we have no relations between `trigger` action and all following actions (`request`, `success` / `failure` and `fulfill`) so we can't distinct which `success`/`failure` action should resolve/reject our promise.

As a first attempt, I tried to update `promisifyRoutine

[2018-09-20 15:08] stefanfrede commented on #28
I wouldn't say no to a hint how to refactor this ;) To use promises was the first thing which came to my mind on how to solve my use case, but I don't need to use them if I don't have to.

Thank you very much for looking into this!

[2018-09-21 14:13] afitiskin commented on #28
Is your `getUser` function a part of some component? Why it should return a promise? Do you really need N promises for N requests instead or you may be okay with just one for all of them?

[2018-09-21 14:31] afitiskin commented on #26
For your specific case it is better have only one routine `loadArticles`. You may pass list of categories as a payload to `trigger` action, i.e. `loadArticles.trigger({ categories: ['category1', 'category2'], loadPopular: true })`.

In the saga you need parse action payload and load articles based on the payload.
Instead of using selectors at the end of your `getInitialProps` it is better to prepa

[2018-09-22 16:06] stefanfrede commented on #28
Yes, the function is part of some kind of API where you can request data over a socket connection. Because multiple asynchronous requests can happen I thought it is best to return those requests via a promise. After thinking a bit about it I guess I need N promises for N requests.

[2018-09-24 09:43] afitiskin commented on #28
Is it a part of API of the component? How are you using it? I think there is a simple solution for your case but I can't suggest something without an idea what you are going to achieve....

[2018-09-24 10:30] stefanfrede commented on #28
The workflow is that if you instantiate my class, you get a socket connection and then you are able to request data from the backend via REST parameters over this socket connection.

Every time you request something, the data is stored in the Redux store, but I also need to return the result.

This is why I thought the promise solution would work nicely. You fire up your request action and just wa

[2018-09-24 10:58] afitiskin commented on #28
`redux-saga-routines` and especially promisifying routines are designed for usage inside the components. You described the case that is not related to the components world (view) but to the side-effects (sagas). So it is better to achieve your goal in the saga. You may use promises, you may use routines, but you do not need to depend on them 100%.

IMO, API part that keeps socket connection, makes

[2018-09-24 23:43] piedrahitapablo commented on #39
Hi, first of all, thank you for developing `redux-saga-routines` it has been very helpful on the projects that I'm currently working on and I just encountered this same issue. Is there any estimated time for this fix? again, thanks for your work.

[2018-10-04 15:27] afitiskin commented on #28
No changes will be implemented in library, so issue may be closed.

[2018-10-04 15:27] #28 closed

[2018-10-04 15:56] afitiskin commented on #51
In [version 3.1.0](https://github.com/afitiskin/redux-saga-routines/releases/tag/3.1.0) you are able to do following:

[code]

[2018-10-04 15:56] #51 closed

[2018-10-04 15:57] afitiskin commented on #50
Sorry, but no more TS support since version 3.

[2018-10-04 15:57] #50 closed

[2018-10-05 12:50] rtorcato opened #52 "Error with new Create-react-app version 2"
With create-react-app version 2 there is an error with this library

Module not found: Can't resolve '@babel/runtime/core-js/object/assign'

This issue is probably because you are using beta version of babel in your library.

[2018-10-05 13:01] afitiskin commented on #52
Thank you for the feedback, please check updated [version 3.1.1](https://github.com/afitiskin/redux-saga-routines/releases/tag/3.1.1)

[2018-10-05 13:06] rtorcato commented on #52
fixed thank you

[2018-10-05 13:06] #52 closed

[2018-10-16 16:27] vlandham opened #53 "Error: Can't resolve '@babel/runtime/regenerator'"
I believe the `@babel` dependencies for redux-saga-routines may need to be updated.
Using redux : 4.0.1 and redux-saga: 0.16.2 and redux-saga-routines: 3.1.1, I'm getting an error:

[code]

It appears that there may have been a problem with v7.1.1 of babel: (https://github.com/babel/babel/releases/tag/v7.1.1)

If i add `@babel/runtime` version 7.1.2 to my project, this issue goes away - and things

[2018-10-17 09:45] afitiskin commented on #53
I've published [version 3.1.2](https://github.com/afitiskin/redux-saga-routines/releases/tag/3.1.2) with updated babel deps, please check if it works well for you

[2018-10-17 17:41] vlandham commented on #53
Thanks for taking a look! I think the issue is fixed by your peer dependency in 3.1.3.
I created a minimal example of how i'm using redux-saga-routines here: https://github.com/vlandham/redux_saga_routines_test to test. I believe the new (2.0) version of create-react-app provides the babel peer dependency package. Where I was having troubles before, I am using the 1x version of create-react-app. A

[2018-10-26 14:40] #53 closed

[2018-11-14 01:21] Ctsavas opened #54 "Can redux-saga-routines work with redux compose?"
Hello,

I've tried making it work with redux-saga-routines and compose instead of using sagaMiddleware.run. Should that be working?

[2018-11-14 10:00] afitiskin commented on #54
`compose` is just an utility function to make function composition, so i'm not sure what you are trying to do.
`createRoutine` may work without `redux-saga`, since it's just a creator, but handling promises is not possible without `routinePromiseWatcherSaga` which is designed to work with `redux-saga`, so it will not work without it.

[2018-11-15 22:06] darewreck54 commented on #46
Does this mean that there is no typescript support for using this library?

[2018-11-16 06:56] alexey-pelykh commented on #46
Not by the library author, and as far as I can see, nobody introduced that package to `@types`.

@afitiskin I've missed your message, very sorry. Please bring me up to speed - in 3.0.0 version you've removed the type definitions, so somebody should grab latest type definitions and upgrade it to 3.x branch, yet in `@types` or should those be written from scratch?

[2018-11-19 13:17] afitiskin commented on #54
@Ctsavas do you still need help with it?

[2018-11-20 07:52] Ctsavas commented on #54
Hello @afitiskin , sorry for the delayed response.

I was trying to use `redux-saga-routines` with loading `routinePromiseWatcherSaga` using the `injectSaga` pattern on the component level (as described here for example https://heygrady.github.io/redux-saga-watch-actions/docs/middleware/injectSaga.html).
I solved my problem by adding `routinePromiseWatcherSaga` to a top parent component.
My proble

[2018-11-20 11:09] afitiskin commented on #54
If you check the source code of `injectSaga` you will see that `injectSaga` uses `sagaMiddleware.run`, so it will work for you

[2018-11-21 15:10] #54 closed

[2019-04-14 15:36] alexey-pelykh commented on #46
Please give this one a try https://github.com/DefinitelyTyped/DefinitelyTyped/pull/34730 @darewreck54 @LKay

[2019-05-15 10:17] alexpanchuk opened #55 "How to bind routines?"
Where is bindRoutineCreators? Is there other way to bind routines?

[2019-05-15 13:16] afitiskin commented on #55
Usually, it is enough to bind only `trigger` function, since action triggered in the component and all other steps are made in sagas:

[code]

It is very rare case, when you really need in your component all 5 action creators bound to the store, so just bind that you are really need like in example above.

If you are going to use routine with `redux-form` there is special `bindRoutineToReduxForm`

[2019-05-16 04:37] alexpanchuk commented on #55
Thank you

[2019-05-16 04:37] #55 closed

[2019-06-06 15:41] shapkarin opened #56 "Extend createRoutine with additional types"
I like that package but I want to extend stages if I need so I create [that fork](https://github.com/shapkarin/redux-saga-routines/commit/fa8fafcccfb1b99c8524b60e55c401eaf44dae7e).
To use it like:

[code]

But it needs to change second arg to obj.

Maybe better is add some extend util like:
[code]

I'll try to implement `extendRoutine` later to not change an API and test

---

UPDATE: Has PR with

[2019-06-07 12:14] shapkarin commented on #56
Check PR
[code]

[2019-06-07 12:15] shapkarin commented on #56
I decided to create `extendRoutine` instead of change `createRoutine` API

[2019-06-07 12:15] shapkarin commented on #56
I decided to create `extendRoutine` instead of change `createRoutine` API. Check PR

[2019-06-07 19:59] afitiskin commented on #56
I'd like to see the use case of proposed changes. May you attach some code examples?

[2019-06-08 10:02] shapkarin commented on #56
I just don't like that at some components I can use routine like https://github.com/shapkarin/shapkarin.me/tree/master/src/Pages/Github
but in some https://github.com/shapkarin/shapkarin.me/tree/master/src/Pages/Projects I must to add custom types (`TOGGLE_PROJECT_INFO`) and create custom actions.

But as I can see action function name will be just lowercased from `type` but for that change better

[2019-06-09 09:13] afitiskin commented on #56
I prefer to use `createAction` from [`redux-actions`](https://redux-actions.js.org/) for this use cases. It is also very useful to organise reducers using `handleActions` instead of switch-case.

[2019-06-09 11:07] shapkarin commented on #56
Ok

[2019-06-09 16:04] shapkarin commented on #56
`handleActions` is great, but I don't like to have separate variable (with `createAction`) from routine also with the same `type` prefix. Let me know if you can add that.

[2019-06-09 16:32] shapkarin commented on #56
Just let me know if you OK with that feature and next I’ll try to implement it better, add more test and docs. It feels wrong to have some with actions and types about the same entity outside of routine.

[2019-06-13 16:57] afitiskin commented on #56
I think we can make creator function `createRoutineCreator(stages)` and `createRoutine` will be built on top of that (the result of calling `createRoutineCreator` with default stages)

[2019-06-13 21:52] shapkarin commented on #56
OK. Maybe `createRoutineCreator(typePrefix, stages)`. I can add that soon.

[2019-06-14 06:50] afitiskin commented on #56
I think you did not get my idea. `createRoutineCreator` is a function that return `createRoutine` function.

[code]

So, no we have unchanged `createRoutine` that works the same way as before, and also we have `createRoutineCreator` that can be used to create your own routine creator:

[code]

[2019-06-14 07:00] afitiskin commented on #56
Will my solution solve your problem?

[2019-06-14 08:23] shapkarin commented on #56
Yes, thanks, I'll change PR soon.

[2019-06-14 10:33] shapkarin commented on #56
I just reproduced something like that https://github.com/shapkarin/extend-saga-routines and didn't got what you suggest.
Yours solution is fine, I'll make it soon.

P.S. I'll freeze and deprecate my package after we add `createRoutineCreator`

[2019-06-14 10:47] afitiskin commented on #56
`extendRoutine` looks like a tweak and will produce code duplicates in your application's code.

For example, in some module you need to extend your routine:
[code]

When you need to use same extension in other module for another routine, you have to copy and paste same extension for another routine:

[code]

And again, and again and again in other containers...

My solution:

[code]

[2019-06-14 11:56] shapkarin commented on #56
Sure, I just inform you man :-)

[2019-06-14 19:40] shapkarin commented on #56
Create PR, please review, forgot about docs, I'll add it later too

[2019-06-14 20:29] shapkarin commented on #56
add example to docs

[2019-06-15 10:42] shapkarin commented on #56
I updated PR, and now it don't has all that breaking changes. I'll add docs soon.
All conversations are at PR :octocat:

[2019-06-27 09:52] goodwin64 opened #62 "Routine action types - how to use with TypeScript?"
Hi!
At first, I'd like to thank for the lib, really useful.

Recently I faced with issues on how to combine Routines with TypeScript. I would ask a clarification in this thread and add an answer in README with a PR.

1. Create routine
[code]
This routine will contain 5 constants and 5 action creators, as I understand:
[code]

2. I created a function that uses action produced by the Routine
[code]

[2019-06-27 10:18] goodwin64 commented on #62
I've found the following typings in `@types/redux-saga-routines/index.d.ts`, and it seems that it fits my case, but I can't catch how to use it:

[code]

[2019-06-27 10:19] afitiskin commented on #62
`createRoutine` actually supports 3 parameters: `type`, `payloadCreator` and `metaCreator`. 2nd and 3rd may be functions or objects. So you may use them to define specific shape of `payload` and `meta` of your actions

[2019-06-27 13:17] goodwin64 commented on #62
There is no section in the docs about the 2nd and 3rd arguments, as well as no examples of code. Moreover, I haven't found anyone using the payloadCreator on the first 10 pages of search.

What I want to clarify is the following:

[code]

[2019-06-27 14:01] afitiskin commented on #62
I'm not so familiar with TS, but as I see your code above could be simplified this way:

[code]

About 2nd and 3rd parameters of `createRoutine` function.

From the README:

If you take a look [at the source code](https://github.com/afitiskin/redux-saga-routines/blob/master/src/createRoutine.js#L23) you will find how 2nd and 3rd parameters are used. There are 2 options:

1. One payload creator for

[2019-07-12 13:17] afitiskin commented on #20
In latest version you are able to create your own routine creator, see [Creating your own routines ](https://github.com/afitiskin/redux-saga-routines#creating-your-own-routines) in README

[2019-07-12 13:17] #20 closed

[2019-07-12 13:17] afitiskin commented on #62
No updates here, so I'm closing the issue.

[2019-07-12 13:17] #62 closed

[2019-07-12 13:23] afitiskin commented on #56
I decided to exclude `createExtendedRoutine` and `createCustomRoutine` from the package, but it's just 5 lines of code, that can be done in your app:

[code]

Thank you for you idea and help with implementation, and sorry for long delay.

[2019-07-12 13:23] #56 closed

[2019-07-31 00:28] shapkarin commented on #35
Work in progress
https://github.com/shapkarin/redux-saga-routines/blob/createRoutines/src/createRoutines.js
https://github.com/shapkarin/redux-saga-routines/blob/createRoutines/test/createRoutines.js

Hope soon I will create PR 🚀

[2019-07-31 02:01] shapkarin commented on #35
Proposals for nested example:
[code]
nesting not ready yet 🤔

To overwrite the default payloadCreator:
[code]

[2019-07-31 02:42] shapkarin commented on #35
Proposals for nested example:
[code]
nesting not ready yet 🤔

To overwrite the default payloadCreator:
[code]

also it will be great if we can use that somehow with creating users custom routines with `createRoutineCreator`. Maybe we can just add additional `stage` with underscore:

[code]

[2019-07-31 11:49] shapkarin commented on #35
## Proposals

Nested example:
[code]

We can access to the stage with underscore prefix and for example to overwrite the default payloadCreator:
[code]

Or add custom routines with `createRoutineCreator`:

[code]

And maybe even create extended routines with default stages and like in [that package](https://github.com/shapkarin/extend-saga-routines#create-routine-that-has-more-that-just-redux-saga

[2019-12-10 22:32] talor-hammond opened #63 "`routineStages` is actually exported as `defaultRoutineStages`"
Had an issue trying to grab `routineStages` from `redux-saga-routines` like so...

[code]

This is how it is referenced in the documentation^

After some digging, I tried:
[code]

And it worked :) I can make a PR to update the docs?

[2019-12-11 10:30] afitiskin commented on #63
@talor-hammond thank you!

[2019-12-11 18:42] #63 closed

[2020-04-08 17:47] darcusfenix opened #67 "upgrade redux-actions to fix CVE-2019-10744 for redux-saga-routines@2x"
hi guys
can we upgrade redux-actions in 2x to fix this vulnerability issue ?

redux-actions@2.6.5 is not using lodash anymore

in this moment i cannot upgrade to 3x.

how can i make the pull request ?

https://github.com/darcusfenix/redux-saga-routines/commit/0e31740b19e643cf21f62cf8e40cf3b502ba56ea

[2020-04-09 10:35] shapkarin opened #68 "Add contributing guide"
How about to add some guide?
#67

[2020-04-30 05:00] cuongdevjs opened #69 "How to I can combine with redux-toolkit?"
I using redux-toolkit and I'm so really wanna integrate this package with redux-toolkit?

[2020-04-30 22:41] shapkarin commented on #69
Did you try to use is like createAction? Looks like it's possible.

[2020-05-01 00:55] cuongdevjs commented on #69
can you try it in code sandbox? Thanks so much :)

[2020-05-01 11:29] shapkarin commented on #69
Not sure but I guess like that. Use routine types in reducer.
[code]

[2020-05-01 12:26] cuongdevjs commented on #69
thanks for your help :)

[2020-05-03 16:07] shapkarin commented on #69
@cuongdevjs cool then) maybe you found that useful too [extend-saga-routines](https://github.com/shapkarin/extend-saga-routines)

[2020-05-05 17:09] cuongdevjs commented on #69
I tried this repo combine redux-toolkit, and it's not working. Can you help me?
store:
[code]
saga: `yield put(actions[routine.FAILURE](RepoErrorType.USERNAME_EMPTY));`

[2020-05-05 19:27] shapkarin commented on #69
Not sure that it's related to `redux-saga-routines` itself but you can provide codesandbox and maybe I or someone can help you.

[2020-05-05 19:31] shapkarin commented on #69
@cuongdevjs `redux-saga-routines` it's just some kind of smart action creator so you can use it pretty similar with any other action creators.

[2020-05-06 01:53] cuongdevjs commented on #69
Thanks.

[2020-05-06 01:53] #69 closed

[2020-05-10 15:14] shapkarin opened #70 "Routines without saga"
I wonder about this package without redux-saga dependency. In some cases we need to  decrease bundle size or people can have maybe other reasons to avoid redux-saga. How about to remove redux-saga dependency and move promise features to other package? I know, that all sounds like breaking changes... Or maybe I can copy this repo and make this kind of version?

What do you think about that proposal

[2020-05-10 15:19] shapkarin commented on #70
Actually I mostly need that to use https://github.com/shapkarin/extend-saga-routines without redux-saga sometimes.

[2020-05-10 23:49] shapkarin commented on #35
I think to implement that. Not sure how long that it takes, hope I will provide some first version soon.

[2020-05-10 23:57] shapkarin commented on #35
Not sure about underscore before the stage (for example _TRIGGER)
And now I realise that maybe better is to implement that in my package, because I will definitely need createCustomRoutine functionality inside createRoutines.

[2020-05-11 00:17] shapkarin commented on #67
Hello. I guess it possible if @afitiskin will create a special brunch for version2 and replace the tag 2.2.5 with last commit from that branch.
@darcusfenix can you please tell why you need version 2x?

[2020-05-11 12:12] afitiskin commented on #70
I thought about it some time ago. But the name of the package tied us to `redux-saga` :)
And `redux-saga` is a peer dependency, so it's up to you: to use or not to use it. And bundle size may be reduced by proper tree-shaking and moving parts into separate files: we may use all related to saga to separate file, like `import { something } from 'redux-saga-routines/saga'`

[2020-05-11 12:16] shapkarin commented on #35
Today I will release the first version.

[2020-05-11 12:23] shapkarin commented on #70
So if we move all things about saga outside of main exports to separate file then `redux-saga` will become optional till we not import something from that files? Right?

[2020-05-11 12:26] afitiskin commented on #70
It's already done btw, every part of the package lives in it's own file. So, just import from `redux-saga-routines/dist/something` (common js) or `redux-saga-routines/es/something` (es modules) and that's it!

[2020-05-11 12:29] afitiskin commented on #67
[Version 2.2.6](https://github.com/afitiskin/redux-saga-routines/releases/tag/2.2.6) has been released and published to npm

[2020-05-11 12:43] shapkarin commented on #70
Thanks. Maybe I will add some docs about that later. I will reopen an issue when I will be able to add that info.
Also feels free to reopen it too, if you are thinking to move redux outside of main imports.
PS
maybe it’s a crazy idea but we also can create alias package with other name, like ‘routines’. Not sure about that at all.

[2020-05-11 12:44] #70 closed

[2020-05-11 15:13] shapkarin commented on #35
Here is `createRoutines` first version https://github.com/shapkarin/extend-saga-routines#create-routines

[2020-05-12 10:00] tonoslav opened #72 "@latest tag is right?"
Is real latest version **2.2.6** or **3.2.1**?
Shouldn't be latest be "highest" version?

[2020-05-12 10:18] afitiskin commented on #72
Sorry, yesterday I messed up latest tag with version2. Now it is fixed

[2020-05-17 14:14] shapkarin opened #73 "Es import `redux-saga-routines/es/*`"
Hi. Thanks for notice that I can import separate files form yours lib, but when I change in my package
[code]
to
[code]
I got an error on tests

[code]

It's something wrong with my environment or not?

[2020-07-10 01:08] talor-hammond commented on #62
@goodwin64 better late then never i suppose...
i managed to get strongly-typed actions in our sagas / reducers by using the `ReturnType` type-utility:

[code]

[code]

Now you'll get type help in your components, sagas, and reducers

I'm just researching a less-verbose way of declaring `payloadCreator`

[2020-07-26 18:36] akhalinem opened #75 "createRoutineCreator - how to use with TypeScript?"

[2020-08-06 13:01] kennethpdev opened #76 "promisifyRoutine does not respect the payloadCreator of the original routine"
The `createRoutine` does it job to handle `payloadCreator`. Pretty much what I need to customize the given payload being pass.

But once you wrapped the routine with `promisifyRoutine` and make a call from the promised creator. The `payloadCreator` is ignored.

For example
[code]

and somewhere in the code
[code]

an expected behavior is that the TRIGGER should be able to pick up the 2nd parameter

[2020-08-06 23:52] shapkarin commented on #76
Looks like you can achieve that in this way:
[code]

maybe I also try to complete payloadCreator test based on that issue.

[2020-08-07 00:07] shapkarin opened #77 "Looks like mistake in docs"
[code]
instead of
[code]

[2020-08-07 09:20] kennethpdev commented on #76
@shapkarin thats what I did to solve the problem, but then I think receiving them as the original `payloadCreator` would be great. Anyway just reporting it, in case you might consider supporting it. Thanks for the great plugin btw, it really helps so much.

[2020-08-07 09:21] shapkarin commented on #76
@kenma9123 I see, you want it work in the same way as createRoutine works with `payloadCreator`

[2020-08-29 17:41] shapkarin commented on #73
here is the error:

[code]

[2020-10-14 03:18] shapkarin commented on #73
@afitiskin hello. Looks like to make this thing works with webpack I need to add to yours `package.json` this line `"type": "module",`
I will provide a PR

[2020-10-19 04:30] talor-hammond commented on #75
+1

![image](https://user-images.githubusercontent.com/35422306/96401707-a02d8500-1230-11eb-8389-0fa8a7a2e878.png)

`createRoutineCreator` and `defaultRoutineStages` aren't "available" in @types/redux-saga-routines module

Necessary if we want to create new routines that are strongly-typed

[2020-10-19 05:11] talor-hammond commented on #75
@Abror1997

If it is any help, this is a solution I came up with:

I manually copied the types for `createRoutine`; it's not perfect, however

[2020-10-19 05:12] talor-hammond commented on #75
@Abror1997 here's a solution i came up with; it's not perfect

Custom routine creator with strong typing
![image](https://user-images.githubusercontent.com/35422306/96404107-8bec8680-1236-11eb-931e-1c3464206e24.png)

Custom routine creator type
![image](https://user-images.githubusercontent.com/35422306/96404138-9dce2980-1236-11eb-9148-1416e87690b6.png)

[2020-11-18 17:26] NateAGeek opened #81 "Is there a reason why this is tied to saga?"
I'm thinking about using this library for my project. I was planning on using it with RxJS and redux-observable, as it would provide a good starting point for some of my async actions... The only issue is that I noticed this has "saga" in the title. Is this library really attached to using saga? Or could it be used for something else such as RxJS? If it is not tightly coupled with saga it might be

[2020-12-30 04:40] alexey-pelykh opened #83 "promisifyRoutine would only work for 0/1-parameter trigger action creator"
To my understanding, due to this

https://github.com/afitiskin/redux-saga-routines/blob/5d2d6bf3325a7cb236705007e92b292030a9e45a/src/promisifyRoutine.js#L4

and this

https://github.com/afitiskin/redux-saga-routines/blob/5d2d6bf3325a7cb236705007e92b292030a9e45a/src/routinePromiseWatcherSaga.js#L24

the only cases when `promisifyRoutine` would correctly handle the trigger action creator parameters

[2020-12-30 04:42] alexey-pelykh commented on #83
Same thing as described in https://github.com/afitiskin/redux-saga-routines/issues/76

[2020-12-30 04:46] alexey-pelykh commented on #75
Why not to submit a PR for types? :)

[2020-12-31 04:57] shapkarin commented on #75
@alexey-pelykh I guess that types are already in the `DefinitelyTyped` repo or in progress.

[2020-12-31 04:59] shapkarin commented on #75
@alexey-pelykh I think that somewhere types are already declaraded. Please, make sure.

[2021-01-14 22:10] JessicaBunyan commented on #75
+1 Also keen to use this with typescript

[2021-01-14 22:13] talor-hammond commented on #75
@JessicaBunyan you'll need `@types/redux-saga-routines`

[2021-01-14 22:19] JessicaBunyan commented on #75
`npm install @types/redux-saga-routines@latest`

[code]

[2021-01-15 03:12] shapkarin commented on #75
@JessicaBunyan try npm version `6.14.6` or latest

[2021-01-15 03:22] talor-hammond commented on #75
@JessicaBunyan just remembered, these two^ don't have type declarations in the @types package ):
I've had to tell ts-lint not to complain about it -- see the first image

[2021-01-15 05:05] shapkarin commented on #75
@talor-hammond I remember createRoutineCreator is related to my PR https://github.com/afitiskin/redux-saga-routines/pull/59 :-) maybe I will take some time to add types, I also need them for the [own project](https://github.com/shapkarin/extend-saga-routines)

[2021-01-15 10:01] shapkarin commented on #75
If somebody can make that much faster, please feel free. Needed to provide a PR with types to the `@types/redux-saga-routines` repository, currently needed files are there – https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/redux-saga-routines:
- types for the `createRoutineCreator`
- and for the `defaultRoutineStages`

[2021-05-05 16:09] shapkarin commented on #81
@NateAGeek Hello! I have the same idea. Please have a check https://github.com/afitiskin/redux-saga-routines/issues/73

I has own package that used this one and plan to remove redux-saga https://github.com/shapkarin/extend-saga-routines

[2021-05-08 16:30] shapkarin commented on #81
@NateAGeek done. please have a check https://github.com/shapkarin/extend-saga-routines (version 3.3.0)

[2021-05-08 16:31] shapkarin commented on #73
done at 3.3.0

[2021-05-08 16:31] #73 closed, assigned to nobody

[2021-05-12 23:10] NateAGeek commented on #81
@shapkarin I do like the fact that you've taken initiative and created a separate package. A bit of feedback on your project.
* Also, the project title still has saga in it.
* Typing is not created for typescript
* Although you are making a big changes, I think it is fair to credit the author of this project for inspiration.

Good job all around, and I think I might use this in my project.
Thank y

[2021-05-12 23:11] NateAGeek commented on #81
Going to close now, but if the author, @afitiskin, could please comment on this, thank you.

[2021-05-12 23:11] #81 closed, assigned to nobody

[2021-05-16 14:27] Domiii opened #86 "promisifyRoutine promise pending forever, if saga gets cancelled"
## Problem

The `promisifyRoutine` utility is very fragile and does not really work in general at all, as mentioned in several other issues.

One of the many issues is that it never resolves, if the saga is cancelled, even in the most common of scenarios. That, in turn, is because `FULFILL` is not being respected.

## Partial solution

Might want to change [this](https://github.com/afitiskin/redux

[2021-05-16 15:15] shapkarin commented on #81
Of course. I also provide PR to this repo (check the PRs) and in docs I have a link to his package.
@NateAGeek can you help me with `Typing is not created for typescript` ?
`Also, the project title still has saga in it.` - maybe I will create an other package that uses my and just with new name

[2021-05-20 21:10] shapkarin commented on #81
@NateAGeek https://www.npmjs.com/package/extend-routines

[2021-10-09 20:55] tshallenberger commented on #75
Really needed this today as well. Can't add the types atm but I typed up the gist from the screenshot posted above:

https://gist.github.com/valkn0t/26099bb8e90f90f3d5bd2c7da88abe91

[code]

[2021-10-12 07:09] shapkarin commented on #75
Hello. Maybe you can just make a PR to the https://github.com/DefinitelyTyped/DefinitelyTyped monorepo?

[2022-06-10 05:27] 87sam12 opened #94 "routine.trigger(payload) never dispatches any action to the store"
redux-saga actions are being triggered, but never getting caught within the generators listening for those.
Only when I use dispatch on top of redux-saga-routine's trigger, it works. Here as sourcemaps are not properly working in console even if enabled, usage might seem weird, as its taken from webpack's bundle.js directly.
![image](https://user-images.githubusercontent.com/13358855/172996238-c76